In [3]:
import pandas as pd

In [ ]:
# Series
ps = pd.Series([10,20,30,40])
ps

In [ ]:
#dataframe_from_list, change_name_column
data_l1 = [10,20,30,40]
cols = ['Age']
df = pd.DataFrame(data_l1, columns=cols)
df

In [2]:
data = [
    ['macbook air m4', 'apple', 50000],
    ['nitro v15', 'acer', 30000],
    ['victus', 'hp', 25000]
]

cols = ['name', 'brand', 'price']
df = pd.DataFrame(data, columns=cols)
df

             name  brand  price
0  macbook air m4  apple  50000
1       nitro v15   acer  30000
2          victus     hp  25000

In [ ]:
#zip 
item1 = ['macbook air m4', 'nitro v15', 'victus']
item2 = ['apple', 'acer', 'hp']
item3 = [50000, 30000, 25000]

cols = ['name', 'brand', 'price']
data = list(zip(item1,item2,item3))
df = pd.DataFrame(data, columns=cols)
df

In [ ]:
#dataframe_from_dic
data = [
    {'Name' : 'macbook', 'brand' : 'apple', 'price' : 40000},
    {'Name' : 'nitro', 'brand' : 'acer', 'price' : 30000},
    {'Name' : 'victus', 'brand' : 'hp', 'price' : 25000}
]

df = pd.DataFrame(data)
#เปลี่ยน index ใหม่แบบถาวร
df.set_index(['Name'], inplace=True)
df

In [17]:
#dataframe_from_series
name = ['macbook air m4', 'nitro v15', 'victus']
brand = ['apple', 'acer', 'hp']
price = [50000, 30000, 25000]

Name = pd.Series(name)
Brand = pd.Series(brand)
Price = pd.Series(price)

#series adapt to dic
frame = {'Name' : Name, 'Brand' : Brand, 'Price' : Price}
df_ex = pd.DataFrame(frame)
df_ex

             Name  Brand  Price
0  macbook air m4  apple  50000
1       nitro v15   acer  30000
2          victus     hp  25000

In [25]:
#export csv
df_ex.to_csv("product.csv",header=True, index=False) #save in the same folder
df_ex.to_csv("product2.csv",header=True, index=True)
df_ex.to_csv("product3.csv",header=False, index=False)
df_ex.to_csv("product4.csv",header=False, index=True)

In [ ]:
#read csv
data = pd.read_csv("product.csv", encoding="utf-8")
data

In [42]:
#read some column
data = pd.read_csv("product.csv")
colsName = ['name','brand','price']
cols = ['name','brand','price']
data = pd.read_csv("product.csv", encoding="utf-8", names=colsName, usecols=cols)
data

             name  brand  price
0            Name  Brand  Price
1  macbook air m4  apple  50000
2       nitro v15   acer  30000
3          victus     hp  25000

In [4]:
#read_excel
df_weather = pd.read_excel("dataupdate.xlsx", "weather", index_col="Day")
df_product = pd.read_excel("dataupdate.xlsx", "Product", index_col="Name")
df_weather.head() #read n top row
df_weather.tail() #read n down row
df_weather.sample(4) #random n values
df_weather.describe() #stat
df_weather.shape #(row, column)
df_weather.columns #check name column
df_weather.values #read type array
df_weather

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-02           28          8   เมฆมาก
2020-12-03           27          4     ฝนตก
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-06           25          6     ฝนตก
2020-12-07           36          4     ฝนตก
2020-12-08           28          6     ฝนตก
2020-12-09           17          5   เมฆมาก
2020-12-10           24          6  แดดร้อน
2020-12-11           26          4     ฝนตก
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-14           31          5   เมฆมาก
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก
2020-12-19           25          7  แดดร้อน
2020-12-20           28          4   เมฆมาก
2020-12-21           25          5   เมฆมาก
2020-12-22           38          2   เมฆมาก
2020-12-23           34          3     ฝนตก
2020-12-24           29          4     ฝนตก
2020-12-25           34          5  แดดร้อน
2020-12-26           25          8     ฝนตก
2020-12-27           28          9   เมฆมาก
2020-12-28           30          2   เมฆมาก
2020-12-29           31          1     ฝนตก
2020-12-30           35          2     ฝนตก

In [ ]:
df_weather[1:4].Event #ระบุโดยใช้ index

Day
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
2020-12-04    แดดร้อน
Name: Event, dtype: object

In [ ]:
# dataframe.loc[ตัวแรก,ตัวท้าย][column]
df_weather.loc["2020-12-02":"2020-12-15"]["Event"] #ระบุโดยใช้ loc

Day
2020-12-02     เมฆมาก
2020-12-03       ฝนตก
2020-12-04    แดดร้อน
2020-12-05     เมฆมาก
2020-12-06       ฝนตก
2020-12-07       ฝนตก
2020-12-08       ฝนตก
2020-12-09     เมฆมาก
2020-12-10    แดดร้อน
2020-12-11       ฝนตก
2020-12-12    แดดร้อน
2020-12-13    แดดร้อน
2020-12-14     เมฆมาก
2020-12-15    แดดร้อน
Name: Event, dtype: object

In [25]:
# search data
df_weather[df_weather.Event.str.match("แดดร้อน")] 
df_weather[df_weather.Event.str.contains("มาก")]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-05           20          5  เมฆมาก
2020-12-09           17          5  เมฆมาก
2020-12-14           31          5  เมฆมาก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก

In [26]:
for idx, row in df_weather.iterrows():
    print(f"อุณหภูมิ = {row.Temperature} ส่งผลให้เกิด {row.Event}")

อุณหภูมิ = 30 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 28 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 27 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 19 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 20 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 25 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 36 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 28 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 17 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 24 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 26 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 27 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 30 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 31 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 28 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 27 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 20 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 18 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 25 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 28 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 25 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 38 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 34 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 29 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 34 ส่งผลให้เกิด แดดร้อน
อุณหภูมิ = 25 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 28 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 30 ส่งผลให้เกิด เมฆมาก
อุณหภูมิ = 31 ส่งผลให้เกิด ฝนตก
อุณหภูมิ = 35 ส่งผลให้เกิด ฝนตก

In [38]:
df_weather[df_weather.Temperature<=20]

            Temperature  WindSpeed    Event
Day
2020-12-04           19          3  แดดร้อน
2020-12-05           20          5   เมฆมาก
2020-12-09           17          5   เมฆมาก
2020-12-17           20          8     ฝนตก
2020-12-18           18          5     ฝนตก

In [ ]:
#วันที่แดดร้อน
df_weather[df_weather.Event == "แดดร้อน"]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-04           19          3  แดดร้อน
2020-12-10           24          6  แดดร้อน
2020-12-12           27          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-15           28          4  แดดร้อน
2020-12-16           27          7  แดดร้อน
2020-12-19           25          7  แดดร้อน
2020-12-25           34          5  แดดร้อน

In [ ]:
#วันที่ฝนตกและอุณหภูมิมากกว่า 35
df_weather.loc[(df_weather.Event == "ฝนตก") & (df_weather.Temperature>=35)]

            Temperature  WindSpeed Event
Day
2020-12-07           36          4  ฝนตก
2020-12-30           35          2  ฝนตก

In [63]:
#วันที่มีเมฆมากหรืออุณหภูมิต่ำกว่า 18
df_weather.loc[(df_weather.Event == "เมฆมาก") | (df_weather.Temperature <= 18)]

            Temperature  WindSpeed   Event
Day
2020-12-02           28          8  เมฆมาก
2020-12-05           20          5  เมฆมาก
2020-12-09           17          5  เมฆมาก
2020-12-14           31          5  เมฆมาก
2020-12-18           18          5    ฝนตก
2020-12-20           28          4  เมฆมาก
2020-12-21           25          5  เมฆมาก
2020-12-22           38          2  เมฆมาก
2020-12-27           28          9  เมฆมาก
2020-12-28           30          2  เมฆมาก

In [ ]:
#isin คำสั่งย่อของ or
df_weather.loc[(df_weather.Temperature.isin([30,25])) & (df_weather.Event=="แดดร้อน")]

            Temperature  WindSpeed    Event
Day
2020-12-01           30          9  แดดร้อน
2020-12-13           30          2  แดดร้อน
2020-12-19           25          7  แดดร้อน

In [5]:
data = pd.read_excel("Stock.xlsx")

FileNotFoundError: [Errno 2] No such file or directory: 'Stock.xlsx'